
html{
    background-color: #FAFAFA;
}

body{
    margin:0;

}
*{
    margin:0;
}
.container{
    display: grid;
    grid-template-columns: 200px auto;
}

.left-container{
    background-color:white;
    display: flex;
    flex-direction:column;
    height:100vh;
    padding:10px;
    position: fixed;
}
.left-container div{
    display: flex;
    padding:10px;
    justify-content: start;
    align-items: center;
    gap:5px;
    color:gray;
}

.left-container div:hover{
    background-color: blue;
    cursor: pointer;
    border-radius: 5px;
    color:white;
}
.left-container img{
    width :80%;
    height:50px;
    margin-bottom: 30px;
}

.right-container{
    padding:10px;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:30px;
}

.header p{
    
    font-size: 20px;
}

.combine{
    display: flex;
    justify-content: space-between;
    width:30%;
}

.search{
    position: relative;
}
.search input{
    height: 30px;
    border:none;
    border-radius: 15px;
    min-width: 30px;
    
}

.search-icon{
    position: absolute;
    top:0px;
    right:0px;
    bottom: 0;
    padding:4px;
    background-color: rgb(80, 80, 182);
    border-radius: 20px;
    color:white;
    height:24px;
    width:30px;
    text-align: center;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img{
    height:30px;
    width: 40px;
    border-radius: 20px;
}

.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .menu {
    background-color: white;
    color: gray;
    padding: 5px;
    border-radius:3px;
    }

    


.widgets{
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 3px;
   
}


.categories{
    display: flex;
    align-items: center;
    gap:3px;
} 


.categories span{
    background-color: white;
    padding:6px;
    border-radius: 5px;

}
.categories span:nth-child(2){
    padding:8px;
}

.grid{
    display:grid;
    grid-template-columns: repeat(4,auto);
    gap:15px;
    margin-top:20px;

}


.content-container{
    background-color: white;
    padding:10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.course-image{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}


.lecture{
    color:gray;
    display: flex;
    align-items: center;
    gap:10px;
    margin-top:10px;
}

.lecture img{
    width:40px;
    height:40px;
    border-radius: 20px;
}

.hours{
    display: flex;
    align-items: center;
    color:gray;
    font-size:14px;
    margin-top:8px;
}

.hours span:nth-child(2n+1){
    color:lightblue;
    margin-right:8px;
    padding-right: 0px;
}

.hours span:nth-child(3){
    padding-left: 15px;
}

.progress{
    display: flex;
    align-items: center;
    margin-top:10px;
    gap:10px;


}
.check{
  background-color: green;
  color:white;
  border-radius: 50%;
  font-size: 1em;

}